<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to t('views.common.locale.ja'), '/books/change_locale/ja' %>
      <%= link_to t('views.common.locale.en'), '/books/change_locale/en' %>
    </header>
    <%= yield %>
  </body>
</html>
